<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">

    <title>Login</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false"
                    class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse"
                    type="button">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${success_registerEmployee == true}">
                <div class="alert alert-info">You've registered successfully !</div>
            </div>

            <h1>Login page</h1>
            <form method="POST" th:action="@{/employee/login}">
                <div class="form-group">
                    <label for="username">Username</label>: <input autofocus
                                                                   class="form-control" id="username" name="username"
                                                                   placeholder="Username"
                                                                   required type="text"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>: <input autofocus
                                                                   class="form-control" id="password" name="password"
                                                                   placeholder="Password"
                                                                   required type="password"/>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input class="form-control btn btn-primary" id="login-submit" name="login-submit"
                                   type="submit" value="Log In"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
						<span>New user? <a href="/" th:href="@{/employee/register}">Register
								here</a></span>
                </div>
            </form>
        </div>
    </div>


</div>

<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"
        type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"
        type="text/javascript"></script>

</body>
</html>
