<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">

    <title>Registration</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false"
                    class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse"
                    type="button">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${createdSuccessfully == false}">
                <div class="alert alert-info">Please select another username!</div>
            </div>

            <h1>Registration</h1>

            <form method="POST" th:action="@{/employee/register}" th:object="${registerDTO}">

                <div class="form-group">
                    <label class="control-label" for="firstName">Username</label>
                    <input class="form-control" id="firstName" th:field="*{username}"/>
                </div>


                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input class="form-control" id="password" th:field="*{password}" type="password"/>
                </div>


                <div class="form-group">
                    <button class="btn btn-success" type="submit">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/employee/login}">Login
								here</a></span>
                </div>

            </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"
        type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"
        type="text/javascript"></script>
</body>
</html>
