<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">

    <title>File Permission Edit</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false"
                    class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse"
                    type="button">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{|/file/${session.currentFileID}|}">Back</a>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>File Permission Edit</h1>

            <form method="POST"
                  th:action="@{|/file/${session.currentFileID}/edit-permission|}" th:object="${permissionRequestDTO}">

                <div class="form-group">
                    <label class="control-label">Granting User</label>
                    <select th:field="*{grantID}">
                        <option th:each="employee : ${employeeList}"
                                th:text="${employee.getUsername()}"
                                th:value="${employee.getEmployeeID()}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Permission</label>
                    <select th:field="*{permissionEnum}">
                        <option th:text="Owner" th:value="'OWNER'"></option>
                        <option th:text="Share" th:value="'SHARE'"></option>
                        <option th:text="Read" th:value="'READ'"></option>
                        <option th:text="Disable" th:value="'DISABLED'"></option>
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">Save</button>
                </div>

            </form>
        </div>
    </div>


</div>

<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"
        type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"
        type="text/javascript"></script>

</body>
</html>
