<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>

<body class="container">
<h1></h1><br>

<div class="container">

    <h4><a class="navbar-brand" href="#" th:href="@{/home}">Back to Home</a></h4>
    <h3><i th:text="${session.currentFileView}"></i></h3>

    <h4 style="color: red" th:if="model.error_NoPermission == true"> You do NOT have permission!</h4>

    <br>

    <h4 style="color: green">Employees having permission on this file:</h4>

    <div th:if="${success_GrantPermission == true}">
        <div class="alert alert-info">You've granted permission successfully !</div>
    </div>

    <a th:href="@{|/file/${session.currentFileID}/edit-permission/|}">
        <button>Change Permission on this file</button>
    </a>

    <!--    List file-->
    <table border="2px solid gray" style="margin: 3px; padding: 3px">
        <thead style="text-align: center">
        <td>Employee</td>
        <td>Permission</td>
        <td>Created Time</td>
        </thead>

        <tbody>
        <th:block th:each="permissionFile : ${permissionFiles}">
            <tr>
                <td style="margin: 10px" th:text="${permissionFile.getEmployeeName()}"></td>
                <td style="margin: 10px" th:text="${permissionFile.getPermission()}"></td>
                <td style="margin: 10px" th:text="${permissionFile.getCreatedOn()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <!--    List file-->


</div>
</body>
</html>
