<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>

<body class="container">
<h1>Home Page</h1><br>

<div class="container">
    <h3>
        Welcome, <i th:text="${session.employeeLoggedIn}"></i>
        <a class="navbar-brand" href="#" th:href="@{/employee/logout}">Log out</a>
    </h3>

    <h4 style="color: red" th:if="model.error_UploadFile == false"> Upload file error!</h4>

    <!--    Upload File-->
    <div>
        <span>Upload new file</span>
        <form enctype="multipart/form-data" method="POST"
              th:action="@{|/employee/${session.employeeID}/file|}">
            <div class="form-group">
                <input class="form-control-file" name="files" type="file">
            </div>
            <button class="btn btn-primary" type="submit">Upload File</button>
        </form>
    </div>
    <!--    Upload File-->
    <br><br>

    <h4 style="color: green">Your Permission Granted Files</h4>

    <!--    Filter file form-->
    <form method="POST"
          th:action="@{/file/filter}" th:object="${fileFilterRequestDTO}">

        <div class="form-group">
            <label class="control-label">Search value</label>
            <input class="form-control" th:field="*{searchValue}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Permission</label>
            <select th:field="*{permissionEnum}">
                <option th:text="Owner" th:value="'OWNER'"></option>
                <option th:text="Share" th:value="'SHARE'"></option>
                <option th:text="Read" th:value="'READ'"></option>
                <option th:text="Disable" th:value="'DISABLED'"></option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-success" type="submit">Filter</button>
            <a th:href="@{/}">
                <button class="btn btn-success">Cancel Filter</button>
            </a>
        </div>

    </form>
    <!--    Filter file form-->


    <!--    List file-->
    <table border="2px solid gray" style="margin: 3px; padding: 3px">
        <thead style="text-align: center">
        <td>File name</td>
        <td>Permission</td>
        <td>Created Time</td>
        <td>Download</td>
        <td>Download as ZIP</td>
        <td>Delete</td>
        </thead>

        <tbody>
        <th:block th:each="permissionFile : ${permissionFiles}">
            <tr>
                <td style="margin: 10px">
                    <a th:href="@{|/file/${permissionFile.getFileID()}|}"
                       th:text="${permissionFile.getFileName()}">
                    </a></td>
                <td style="margin: 10px" th:text="${permissionFile.getPermission()}"></td>
                <td style="margin: 10px" th:text="${permissionFile.getCreatedOn()}"></td>
                <td style="margin: 10px">
                    <a th:href="@{|/download?fileID=${permissionFile.fileID}|}"
                       th:target="_blank">Download</a></td>
                <td style="margin: 10px">
                    <a th:href="@{|/download/zip?fileID=${permissionFile.fileID}|}"
                       th:target="_blank">Zip</a></td>
                <td style="margin: 10px">
                    <a th:href="@{|/file/${permissionFile.fileID}/delete|}">Delete</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <!--    List file-->

</div>
</body>
</html>
